{% extends 'AppBundle::app-container.html.twig' %}

{% block view %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{ title }}</strong>
                </div>
                <div class="card-body card-block">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            {{ form_widget(form) }}
                        </div>
                    </div>

                    <div class="form-actions pull-right">
                        <a href="{{ path('compra_edit', {id: idCompra}) }}" class="btn btn-secondary btn-sm">Cancelar</a>
                        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
