{%
    set nav = [
        { "label": "Inicio", "path": "homepage", "icon": "ti-home" },
        { "section": "Gestión" },
        { "label": "Almacenes", "url": "", "icon": "ti-layout-grid3" },
        { "label": "Productos", "url": "", "icon": "ti-package" },
        { "label": "Categorías de productos", "path": "categoria_index", "icon": "fa fa-list-alt" },
        { "section": "Procesos" },
        { "label": "Compras", "url": "", "icon": "ti-receipt" },
        { "label": "Ventas", "url": "", "icon": "ti-receipt" },
        { "section": "Reportes" },
        { "label": "Inventario", "url": "", "icon": "ti-file" }
    ]
%}

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for navItem in nav %}
                    {% if navItem.section is defined %}
                        <li class="menu-title">{{ navItem.section }}</li>
                    {% elseif navItem.path is defined %}
                        <li class="{{ app.request.get('_route') == navItem.path ? 'active' : '' }}">
                            <a href="{{ path(navItem.path) }}"><i class="menu-icon {{ navItem.icon }}"></i> {{ navItem.label}} </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ navItem.url }}"><i class="menu-icon {{ navItem.icon }}"></i> {{ navItem.label}} </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</aside>